@use './dirs/variables';

.footer {
    display: flex;
    align-items: flex-start;
    min-height: 40vh;
    padding: 3em;
    background-color: variables.$dominant;

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &_links {
        display: flex;
        justify-content: space-between;
        gap: 3em;
        max-width: 300px;
        width: 100%;

        .footer_wrapper {
            p {
                color: variables.$sec-color;
                margin-bottom: 0.5em;
            }

            a {
                color: variables.$pri-color;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &_container {
            flex-direction: column;
            gap: 3em;
        }

        &_logo {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        &_links {
            flex-direction: column;
            gap: 1.5em;
        }
    }
}
