@use '../styles/dirs/variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: darken($color: variables.$dominant, $amount: 5%);
    font-family: 'Poppins', sans-serif;

    &::-webkit-scrollbar {
        max-width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: variables.$pri_color;

        &:hover {
            background-color: variables.$sec_color;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Comme', sans-serif;
}

h2 {
    font-size: clamp(1.5em, 1.5em + 1vw, 4em);
}
