@use '@/styles/dirs/variables';

.dropdown {
    position: relative;
    list-style: none;
    cursor: pointer;

    &_button {
        display: flex;
        align-items: center;
        gap: 0.1em;

        span {
            color: variables.$sec_color;
        }

        svg {
            transition: 0.3s ease-in-out;
            color: variables.$sec_color;
        }
    }

    .items {
        display: flex;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: 99;
        transition: 0.2s ease-in-out;

        &_container {
            display: none;
            flex-direction: column;
            gap: 0.25em;
            margin-top: 1em;
            padding: 1.25em;
            border-radius: 0.5em;
            background: variables.$dominant;
            box-shadow: 0 0 10px #0003;
        }
    }

    &.active {
        .dropdown_button {
            svg {
                transform: rotate(180deg);
            }
        }

        .items {
            visibility: visible;
            opacity: 1;

            &_container {
                display: flex;
            }
        }
    }

    @media screen and (max-width: 768px) {
        overflow: hidden;

        &_button {
            span,
            svg {
                color: variables.$dominant;
                font-size: 1.5em;
            }
        }

        &_name {
            span {
                color: #000;
                font-size: 1.5em;
            }

            svg {
                color: #000;
            }
        }

        .items {
            position: relative;

            &_container {
                padding: 0;
            }
        }
    }
}
