@use '../dirs/variables';

.picture {
    flex: 1 1 20%;
    height: 400px;
    transition: 0.3s ease-in-out;
    border-radius: 0.6em;
    cursor: pointer;
    filter: grayscale(0.6);
    transition: 0.3s ease-in-out;

    &_image {
        height: 90%;

        img {
            object-fit: cover;
            border-radius: 0.4em;
            transition: 0.3s ease-in-out;
        }
    }

    &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;

        p {
            text-align: center;
            font-size: 1.2em;
            color: variables.$pri_color;
            transition: 0.3s ease-in-out;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            flex: 2 0 50%;
            filter: grayscale(0);

            img {
                object-position: 50% 30%;
            }
        }
    }

    @media screen and (max-width: 500px) {
        flex: auto;
        width: 90%;

        &_image {
            height: 85%;
        }

        &_content {
            height: 15%;
        }

        &:hover {
            flex: auto;
        }
    }
}
