@use '../dirs/variables';

.input_container {
    display: flex;
    align-items: center;
    position: relative;

    input {
        border: none;
        border-radius: 0.5em;
        padding: 0.8em;
        width: 100%;
        outline: none;
        font: 500 1em 'Comme', sans-serif;

        &:focus + label,
        &:not([value='']) + label {
            transform: translate(8px, -30px);
            font-size: 0.8em;
            font-weight: 600;
            color: variables.$sec-color;
        }
    }

    label {
        position: absolute;
        left: 0;
        transform: translateX(10px);
        pointer-events: none;
        transition: 0.3s ease-in-out;
    }
}
